/.vscode
/config
/defaultconfigs
/crash-reports
/*-natives

/kubejs/README.txt
/local
/logs
/mods
/PCL
/saves
/schematics
/texture_generator/resources
/texture_generator/outputs
/*.jar
/*.json
options.txt
rhino.local.properties
*Everything Tinkering*.zip

/modpack.cfg
/log4j2.xml
/fclversion.cfg
/config/splash.properties